@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;1,400&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body{
background-color: #1F2227;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
     'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
     sans-serif;
font-family: Open+Sans;
  color: #fff;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
overflow-x: hidden;

--block-space: 16px;
--left-padding: 22px;
}

code {
     font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
       monospace;
   }
   

.App{
     display: flex;
     justify-content: center;
     align-items: center;
     min-width: 100%;
     min-height: 100%;

     overflow-x: hidden;
}


body::-webkit-scrollbar {
     width: 12px;
   }
   
   body::-webkit-scrollbar-track {
     background-color: #262B33;
   }
   
   body::-webkit-scrollbar-thumb {
     background-color: #2E343E;
   }
   
   

.sienna-editor-main-cont{
     /* border: 1px solid red; */
     /* max-width: 45%; */
     /* min-width: 500px; */
     width: 100%;
     max-height: 100%;
     min-height: 500px;
     color: #FCFDFF;
     font-size: 15px;
     letter-spacing: 0.12px;
     font-weight: 400;
     border-radius: 5px;
     outline: none;
     padding-top: 92px;
}

::selection {
     background: #3E6A66;
     border-radius: 4px;
     color: #FCFDFF;
}

.sienna-editor-root{
     

}
.sienna-editor-page-title-main-cont{
     font-size: 42px;
     font-weight: 700;
     color: #fff;
     outline: none;
     border: none;

}

.sienna-editor-block-wrapper{
     width: 45%;
     min-width: 500px;
     max-width: 45%;
     display: flex;
     align-items: center;
     justify-content: start;
     position: relative;
     /* background-color: red; */
}

.sienna-editor-master-wrapper{
     width: 100%;
     height: auto;
     margin: 0;
     margin-top: var(--block-space);
     margin-bottom: var(--block-space);
     padding: 0;
     display: flex;
     justify-content: center;
     /* background-color: green; */
}

.sienna-editor-block-wrapper-butt-cont{
     position: absolute;
     margin-left: -42px;
     width: 22px;
     height: 100%;
     padding-right: 12px;
     display: flex;
     align-items: center;
     display: none;
     border-right: 3px solid rgba(0,0,0,0);
}

.sienna-editor-block-wrapper-butt-visi{
     display: block;
     border-right: 3px solid #717883;
}

.sienna-editor-block-wrapper-butt-hidden{
     display: none;
}

.sienna-editor-block-wrapper-butt{
     width: 100%;
     height: 22px;
     margin-right: 12px;
     border-radius: 4px;
     border:none;
     background-color: rgba(0, 0, 0, 0);
     cursor: pointer;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 0;
     margin-bottom: 12px;
}

.sienna-editor-master-wrapper-hover{

}

.sienna-editor-block-wrapper-butt:hover{
     background-color: #363D48;
}

.sienna-editor-block-wrapper-butt-ico{
     width: 22px;
     height: 22px;
     color: #fff;
}

.sienna-editor-unstyle-block{
     padding:4px;
}

.sienna-editor-header-1-block{
     font-size: 26px;
     font-weight: 600;
     outline: none;
}

.sienna-editor-header-2-block{
     font-size: 22px;
     font-weight: 600;
     outline: none;
}

.sienna-editor-UOL-block{
     margin: 0;
     padding: 0;
     left: 0;
     margin-top: 0px;
     display: flex;
     align-items: center;
     margin-left: var(--left-padding);
     padding-left: var(--left-padding);
}

.sienna-editor-UOL-block-cir{
     /* margin-right: 12px; */
     display: list-item;
}

.sienna-editor-block-block{
     border-left: 4px solid #fff;
     padding-left: 12px;
     padding-right: 5px;
     padding-top: 3px;
     padding-bottom: 3px;
     font-style: italic;
     margin-left: var(--left-padding);
     left: 0;
     outline: none;
}
.sienna-editor-block-code{
     background-color: red;
}